body {
    font-family:
        "Shippori Mincho B1", "Shippori Mincho", serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.blur-background::after {
    backdrop-filter: blur(7px);
}

section {
    position: relative;
    z-index: 1;
}

main {
    overflow: hidden;
}

.content-bg-text {
    position: absolute;
    top: 13vw;
    right: -.5vw;
    z-index: 0;
}

.content-bg-text p {
    font-size: 6vw;
    font-weight: 300;
    opacity: .3;
    color: #FFF;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
}

.content-bg-text h6 {
    font-size: 2vw;
    color: #4E3433;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-10deg);
    font-weight: bold;
}


.content-title h1 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    font-size: 4vw;
    letter-spacing: .2vw;
    color: #FFF;
    gap: 4vw;
    z-index: 1;
}

.content-title h1 span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: relative;
}

.content-title h1 span::after {
    content: "";
    width: 1px;
    height: 28vw;
    background-color: #FFF;
    position: absolute;
    left: 6vw;
    top: -2vw;
}

.content-title h1 span::before {
    content: "";
    width: 1px;
    height: 28vw;
    background-color: #FFF;
    position: absolute;
    right: 14vw;
    top: 2vw;
}

.content-title h1 span:last-child::before {
    content: none;
}

.content-title h1 span:last-child::after {
    top: 0;
    left: 6vw;
}

.content-title .content-title-block {
    position: absolute;
    right: -5vw;
    top: -4vw;
    z-index: 0;
}

.content-title .content-title-block:nth-child(2) {
    top: auto;
    right: auto;
    left: -4vw;
    bottom: 8vw;
}

.content-title .content-title-block img {
    width: 5vw;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

header .inner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

header .logo {
    width: 100px;
    opacity: 0;
}

header img {
    width: 100%;
    height: auto;
}

header p {
    font-size: 16px;
    opacity: 0;
    transform: translateY(30px);
}


.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.bg .bg-line,
.bg .bg-fix {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 40%;
}

.bg .bg-line {
    background: url("../images/mv3-line-1.png") no-repeat;
}

.bg .bg-fix {
    opacity: 0;
    filter: brightness(1);
    background: url("../images/mv3-fix.jpg") no-repeat;
}

.bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s;
}

.mv {
    height: 100vh;
    overflow: hidden;
}

.mv .img-box {
    width: 50vmin;
    position: absolute;
    top: 60px;
    right: 15%;
    opacity: 0;
    transform: translateY(50px);
}

.mv .img-box img {
    width: 100%;
}

.mv .mv-scroller {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 0;
    transform: translateY(70px);
}

.mv .mv-scroller .mv-scroller-line {
    background-color: #FFF;
    width: 1px;
    height: 70px;
    position: relative;
}

.mv .mv-scroller .mv-scroller-line::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0;
    left: -3px;
    background-color: #FFF;
    border-radius: 50%;
    transition: transform .2s;
    animation: scroll-ball 2s 5.5s infinite ease-in-out;
}

.mv .mv-scroller .mv-scroller-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    writing-mode: vertical-rl;
}

.mv .mv-change-img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(195px);
}

.mv .mv-change-img .mv-change-img-item {
    position: relative;
}

.mv .mv-change-img .mv-change-img-item::after {
    color: #FFF;
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 18px;
    cursor: pointer;
}

.mv .mv-change-img .mv-change-img-item:nth-child(1)::after {
    content: "#01";
}

.mv .mv-change-img .mv-change-img-item:nth-child(2)::after {
    content: "#02";
}

.mv .mv-change-img .mv-change-img-item:nth-child(3)::after {
    content: "#03";
}

.mv .mv-change-img .mv-change-img-item {
    width: 80px;
}

.mv .mv-change-img .mv-change-img-item img {
    width: 100%;
}

.mv .mv-change-img .mv-change-img-item.active img {
    border: 2px solid #FFF;
}

.mv .mv-change-img .mv-change-img-item.active img,
.mv .mv-change-img .mv-change-img-item.active::after {
    cursor: default;
}

.copy {
    position: relative;
    z-index: 1;
    padding-top: 20vw;
    display: flex;
    justify-content: center;
}

.copy .inner {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.copy .copy-text {
    display: flex;
    flex-direction: row-reverse;
}

.copy .copy-text span {
    font-size: 1.5vw;
    color: #FFF;
    writing-mode: vertical-rl;
    padding: 0 1.5vw;
    opacity: 0;
    transform: translateY(30px);
}

.copy .copy-text span:first-child {
    position: relative;
}

.copy .copy-text img {
    width: 10vw;
    position: absolute;
    top: -2vw;
    right: -5vw;
}

.copy .copy-img {
    width: 24vw;
    height: 35vw;
    transform: rotate(-16.0002deg) skew(-16.0002deg, 0deg) scale(1.0403, 0.96126);
    box-shadow: 0 12px 22px rgba(0, 0, 0, .17);
    overflow: hidden;
    margin-top: 8vw;
    opacity: 0;
}

.copy .copy-img .copy-img-box {
    width: 25vw;
    transform: translate(0px, -100px) rotate(16.0002deg) skew(16.0002deg, 0deg) scale(1.0403, 0.96126);
}

.copy .copy-img img {
    width: 100%;

}

.document {
    padding-top: 25vw;
    position: relative;
    z-index: 1;
}

.document .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.document-title {
    position: relative;
}

.document-title h2 {
    color: #FFF;
    writing-mode: vertical-rl;
    font-size: 4vw;
    position: relative;
    z-index: 1;
}

.document-title h2::after {
    content: "";
    width: 1px;
    height: 18vw;
    background-color: #FFF;
    position: absolute;
    left: 6vw;
    top: 0;
}

.document-title h2::before {
    content: "";
    width: 1px;
    height: 18vw;
    background-color: #FFF;
    position: absolute;
    right: 6vw;
    top: 25px;
}

.document-title span {
    width: 7vw;
    position: absolute;
    right: -5vw;
    top: -60px;
    z-index: 0;
}

.document-title span img {
    width: 5vw;
}

.document-img {
    width: 35vw;
    transition: filter 1s;
    position: relative;
}

.document-img img {
    width: 100%;
}

.document-img:hover {
    filter: brightness(.8);
}

.document-img::before {
    content: "大学案内を無料でプレゼント";
    width: 100%;
    padding: .7vw;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #A96270;
    color: #FFF;
    font-weight: bold;
    box-sizing: border-box;
}

.document-message {
    position: absolute;
    bottom: 0;
    left: 10vw;
}

.document-message h2 {
    font-size: 1.5vw;
    color: #FFF;
    font-weight: 400;
    line-height: 2;
}

.web {
    margin-top: 15vw;
}

.web .inner {
    display: flex;
    box-sizing: border-box;
    padding-left: 100px;
    align-items: flex-end;
}

.web-title {
    position: relative;
}

.web .web-title a {
    color: #FFF;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    padding: 1vw 0;
    display: block;
}

.web .content-bg-text {
    top: -2vw;
}

.web .content-bg-text h6 {
    left: 10%;
}

.web .web-slider {
    max-width: 80%;
    margin-left: 10vw;
}

.web .web-slider .swiper-slide {
    width: 30vw;
    cursor: pointer;
}

.web .web-slider .swiper-slide img {
    width: 100%;
    object-fit: cover;
    transition: filter .2s;
}

.web .web-slider .swiper-slide:hover img {
    filter: brightness(.6);
}

.web .web-slider .slide-item-status {
    padding-top: 1vw;
}

.web .web-slider .slide-item-status p {
    font-size: 1vw;
    color: #FFF;
    position: relative;
}

.web .web-slider .silde-item-title {
    padding-top: 1vw;
}

.web .web-slider .silde-item-title h3 {
    color: #FFF;
    font-size: 1vw;
    font-weight: 600;
}

.dept {
    padding-top: 15vw;
}

.dept .inner {
    position: relative;
}

.dept-bg-text {
    position: absolute;
    left: 0;
    top: -2vw;
}

.dept-bg-text p {
    display: inline;
}

.dept-bg-text h6 {
    top: 20%;
    left: 20%;
    z-index: 0;
}

.dept .dept-box {
    width: 60%;
    margin-left: 7vw;
    padding-top: 5vw;
}

.dept .dept-box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2vw;
}

.dept .dept-box-list .dept-box-item {
    width: 18vw;
}

.dept .dept-box-list .dept-box-item img {
    width: 100%;
}

.dept .box-margin {
    margin-top: 3vw;
}

.dept .content-title {
    position: absolute;
    right: 8vw;
    top: 0;
}

.gallery {
    margin-top: 20vw;
}

.gallery-bg-text {
    top: 0;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-title {
    position: absolute;
    left: 10%;
    top: 10vw;
}

.gallery-title-block:last-child {
    top: auto;
    bottom: 0;
    right: 2vw;
}

.gallery-title-block img {
    width: 5vw;
}

.gallery .inner {
    width: 84vw;
    margin: 0 auto;
}

.gallery-box-wrap {
    padding-top: 5vw;
}

.gallery-box-wrap .gallery-box {
    margin-left: auto;
    width: 50vw;
    position: relative;
    margin-bottom: 10vw;
}

.gallery-box-wrap .gallery-box:nth-child(2) {
    margin-right: auto;
    margin-left: 0;
}

.gallery-box-wrap .gallery-box:nth-child(2) span {
    left: auto;
    right: -5vw;
}

.gallery-box-wrap .gallery-box img {
    width: 100%;
    position: relative;
}

.gallery-box-wrap .gallery-box svg {
    width: 100%;
    stroke-width: 2px;
    position: absolute;
    top: -1.5vw;
    right: -1vw;
    z-index: 1;
}

.gallery-box-wrap .gallery-box g {
    stroke: #FFF;
}

.gallery-box-wrap .gallery-box span {
    position: absolute;
    left: -5vw;
    bottom: 2.5vw;
    color: #FFF;
    font-size: 3vw;
}

.gallery-box-wrap .gallery-box span b {
    font-size: 7vw;
    font-weight: bold;
    padding-left: .8vw;
}

footer {
    position: relative;
    z-index: 1;
    padding: 3vw 0;
    margin-top: 20vw;
}

footer .footer-loop {
    width: 100%;
    display: flex;
    overflow: hidden;
}

footer .footer-loop {
    display: flex;
    flex: 0 0 auto;
    overflow: hidden;
}

.footer-loop h1 {
    color: #FFF;
    opacity: .3;
    font-size: 10vw;
    font-weight: 100;
    white-space: nowrap;
    font-style: italic;
    animation: textLoop 40s linear infinite;
}

.footer-copyright {
    margin-top: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.footer-copyright img {
    width: 15vw;
}

.footer-copyright p {
    color: #FFF;
    font-size: .9vw;
}

@keyframes scroll-ball {
    to {
        transform: translateY(62px);
    }
}

@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@media (max-width:750px) {
    .content-bg-text {
        top: -13vw;
    }

    .content-bg-text p {
        font-size: 12vw;
    }

    .content-bg-text h6 {
        font-size: 4vw;
    }

    .content-title h1 {
        font-size: 9vw;
    }

    .content-title h1 span::before {
        content: "";
        width: 1px;
        height: 63vw;
        background-color: #FFF;
        position: absolute;
        right: 24vw;
        top: 2vw;
    }

    .content-title h1 span::after {
        content: "";
        width: 1px;
        height: 63vw;
        background-color: #FFF;
        position: absolute;
        left: 12vw;
        top: -2vw;
    }

    .content-title h1 span:last-child::after {
        top: 0;
        left: 11vw;
    }

    header .inner {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    header .logo {
        width: 200px;
    }

    header p {
        font-size: 24px;
    }

    .bg .bg-line {
        background: url("../images/mv3-line-1-sp.png") no-repeat;
    }

    .bg .bg-fix {
        background: url("../images/mv3-fix-sp.jpg") no-repeat;
    }

    .bg .bg-line,
    .bg .bg-fix {
        background-position-y: center;
        background-size: cover;
    }

    .mv .img-box {
        width: 100%;
        max-width: 250px;
        top: 20%;
        right: 0;
    }

    .mv .mv-scroller {
        display: none;
    }

    .mv .mv-change-img {
        flex-direction: row;
        width: calc(100% - 40px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .mv .mv-change-img .mv-change-img-item {
        width: calc(100% / 3);
    }

    .copy .inner {
        flex-direction: column;
        align-items: center;
    }

    .copy .copy-text span {
        font-size: 3.5vw;
    }

    .copy .copy-img {
        width: 100%;
        max-width: 230px;
        height: auto;
        max-height: 380px;
    }

    .copy .copy-img .copy-img-box {
        width: 100%;
        transform: translate(0px, -55px) rotate(16.0002deg) skew(16.0002deg, 0deg) scale(1.0403, 0.96126);
    }

    .document {
        padding-top: 300px;
    }

    .document .inner {
        padding-top: 60px;
    }

    .document-title {
        position: absolute;
    }

    .document-title h2 {
        font-size: 8vw;
    }

    .document-title h2::before {
        right: 11vw;
        height: 29vw;
    }

    .document-title h2::after {
        left: 12vw;
        height: 29vw;
    }

    .document-title span {
        top: -15px;
        right: -8vw;
    }

    .document-title span img {
        width: 9vw;
    }

    .document-img {
        width: 80vw;
        padding-top: 14vw;
    }

    .document-img::before {
        font-size: 3vw;
        padding: 15px;
    }

    .document-message {
        position: static;
    }

    .document-message h2 {
        font-size: 5.5vw;
    }

    .web {
        margin-top: 30vw;
    }

    .web .inner {
        flex-direction: column;
        padding-left: 0;
    }

    .web .content-bg-text {
        right: -22vw;
    }

    .web .content-bg-text h6 {
        left: 30%;
        top: 50%;
    }

    .web .web-title .web-title-block img {
        width: 8vw;
    }

    .web .web-title {
        margin: 15vw 12vw 0 0;
    }

    .web .web-slider {
        max-width: 100%;
        margin-left: 0;
        padding: 15vw 0 0 40px;
        box-sizing: border-box;
    }

    .web .web-slider .swiper-slide {
        width: 80vw;
    }

    .web .web-slider .slide-item-status p {
        font-size: 3vw;
    }

    .web .web-slider .silde-item-title h3 {
        font-size: 4vw;
    }

    .dept {
        padding-top: 40vw;
    }

    .dept .inner {
        display: flex;
        flex-direction: column-reverse;
    }

    .dept .dept-bg-text {
        white-space: nowrap;
        left: 7vw;
    }

    .dept .dept-bg-text p {
        font-size: 11vw;
    }

    .dept .dept-box {
        width: 100%;
        margin: 0;
        padding-top: 15vw;
    }

    .dept .dept-box-list {
        display: flex;
        justify-content: center;
        row-gap: 10vw;
    }

    .dept .content-title {
        position: relative;
    }

    .dept .content-title h1 {
        margin-right: 11vw;
        margin-top: 7vw;
    }

    .dept .dept-title-block {
        top: 0;
        right: 5vw;
    }

    .dept .dept-title-block:nth-child(2) {
        right: 29vw;
        bottom: 10vw;
        left: auto;
    }

    .dept .dept-title-block img {
        width: 10vw;
    }

    .dept .dept-box-list .dept-box-item {
        width: 80vw;
    }

    .gallery {
        margin-top: 30vw;
    }

    .gallery .inner {
        padding: 50vw 0 20vw;
    }

    .gallery-bg-text {
        width: 100%;
    }

    .gallery-bg-text h6 {
        top: 65%;
        left: 30%;
    }

    .gallery .gallery-title {
        left: 50%;
        transform: translateX(-50%);
    }

    .gallery .gallery-title h2::after {
        height: 40vw;
        right: 12vw;
    }

    .gallery .gallery-title h2::before {
        height: 40vw;
        right: auto;
        left: 12vw;
        top: -15px;
    }

    .gallery .gallery-title h2 {
        font-size: 8vw;
    }

    .gallery .gallery-title-block {
        right: -5vw;
    }

    .gallery .gallery-title-block:last-child {
        display: none;
    }

    .gallery-box-wrap {
        padding-top: 30vw;
    }

    .gallery-box-wrap .gallery-box {
        width: 78vw;
        margin-bottom: 20vw;
    }

    footer {
        margin-top: 30vw;
        padding-bottom: 30vw;

    }

    .footer-copyright {
        gap: 80px;
    }

    .footer-copyright img {
        width: 200px;
    }

    .footer-copyright p {
        font-size: 14px;
    }
}



@media screen and (orientation: portrait) {
    .bg .bg-line {
        background: url("../images/mv3-line-1-sp.png") no-repeat;
    }

    .bg .bg-fix {
        background: url("../images/mv3-fix-sp.jpg") no-repeat;
    }

    .bg .bg-line,
    .bg .bg-fix {
        background-position-y: center;
        background-size: cover;
    }
}