header {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
}

header .header-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header .header-bg img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
}

header .header-bg img.active {
    opacity: 1
}

header .menu {
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 0 40px;
}

.banner {
    padding: 40px 0;
    background-color: var(--color-dark-white);
    overflow: hidden;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

.banner .swiper-container {
    overflow: visible;
}

.banner .swiper-slide {
    width: 445px !important;
    transition: .3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.banner .swiper-slide img,
.banner .swiper-slide video {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.banner .swiper-wrapper .swiper-slide:hover {
    transform: scale(1.1);
}

.topics {
    background-image: url("../images/bg02.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.topics .inner {
    display: grid;
    grid-template-columns: auto auto;
}

.topics .topics-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    cursor: pointer;
    transition: all .2s;
}

.topics .topics-wrap:hover .topics-img img {
    transform: scale(1.1);
}

.topics .topics-wrap:hover {
    background-color: var(--color-light-pink);
}

.topics .topics-wrap:hover .topics-description::after {
    background: url("../images/blloon_r_on.png") no-repeat;
}

.topics .topics-wrap:hover .topics-description.arrow-right::after {

    background: url("../images/blloon_l_on.png") no-repeat;
}

.topics .topics-wrap .topics-img {
    width: 50%;
    overflow: hidden;
}

.topics .topics-wrap .topics-img img {
    width: 100%;
    height: 100%;
    transition: .2s;
}

.topics .topics-wrap .topics-description {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 20px 0;
    position: relative;
}

.topics .topics-wrap .topics-description::after {
    content: "";
    width: 22px;
    height: 44px;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../images/blloon_r_off.png") no-repeat;
    z-index: 1;
    transition: .2s;
}

.topics .topics-wrap .topics-description.arrow-right::after {
    right: -20px;
    left: auto;
    background: url("../images/blloon_l_off.png") no-repeat;
}

.topics .topics-wrap .topics-description div {
    padding-bottom: 40px;
}


.topics .topics-wrap .topics-description h5 {
    font-size: 13px;
    font-weight: 300;
    color: var(--color-gray);
}

.topics .topics-wrap .topics-description h5 span {
    color: var(--color-pink);
}

.topics .topics-wrap .topics-description h1 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 900;
}

.topics .topics-wrap .topics-description p {
    font-size: 14px;
    line-height: 2;
    text-align: left;
}

.news {
    padding: 100px 0 30px
}

.news .inner {
    max-width: 1150px;
    padding: 0;
}

.news .news-content {
    position: relative;
    padding-bottom: 60px;
}

.news .news-content>div {
    position: relative;
}

.news .news-content div>h3 {
    font-size: 26px;
    font-style: italic;
    font-weight: 600;
}

.news .news-content div>h3 span {
    font-size: 17px;
    font-style: normal;
}

.news .news-content .more-btn {
    left: auto;
    right: 0;
    bottom: 0;
    transform: none;
}

.news .news-content .news-wrap {
    width: 100%;
    display: flex;
    padding-top: 30px;
    gap: 40px;
}

.news .news-content .news-wrap .news-item {
    max-width: 255px;
    border-top: 2px solid var(--color-black);
    cursor: pointer;
}

.news .news-content .news-wrap .news-item p {
    font-size: 13px;
    font-weight: 300;
    color: var(--color-gray);
    padding-top: 20px;

}

.news .news-content .news-wrap .news-item h5 {
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
    line-height: 1.5;
}

.news .news-content .news-wrap .news-item:hover h5 {
    text-decoration: underline;
}

.news .news-event {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


.news .news-event .news-content {
    width: 50%;
}

.news .news-event .news-notice-list {
    border-top: 2px solid var(--color-black);
    margin-top: 30px;
}

.news .news-event .news-notice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 11px 0;
    border-bottom: 1px solid var(--color-light-gray);
    cursor: pointer;
}

.news .news-event .news-notice:hover .news-notice-title p {
    text-decoration: underline;
}

.news .news-event .news-notice .news-notice-date {
    text-align: center;
}

.news .news-event .news-notice .news-notice-date p {
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}

.news .news-event .news-notice .news-notice-date span {
    padding: 5px 10px;
    color: var(--color-white);
    background-color: var(--color-pink);
    font-size: 13px;
    display: block;
}

.news .news-event .news-notice .news-notice-title p {
    font-size: 14px;
}

.news .news-event .news-wrap {
    flex-wrap: wrap;
}

.news .news-event .news-wrap .news-item p:last-child::before {
    content: url("../images/icon_time.png");
    margin-right: 5px;
}

.promotion {
    cursor: pointer;
}

.promotion .promotion-movie {
    width: 100%;
    padding-top: 40%;
    overflow: hidden;
    position: relative;
}

.promotion .promotion-movie video {
    width: 100%;
    position: absolute;
    top: -20%;
    transition: .2s;
}

.promotion:hover .promotion-movie video {
    filter: brightness(.6);
}

.promotion .promotion-movie .promotion-title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    color: var(--color-white);
}

.promotion .promotion-movie .promotion-title h3 {
    font-size: 40px;
    padding-bottom: 10px;
}

.promotion .promotion-movie .promotion-title p {
    font-size: 19px;
}

.sns {
    margin: 10px 0 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.sns:hover img {
    transform: scale(1.2);
}

.sns:hover .sns-arrow {
    left: calc(35% + 20px);
}

.sns img {
    width: 100%;
    transition: 1s;
}

.sns .sns-title {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: var(--color-white);
    text-align: center;
}

.sns .sns-title p {
    font-size: 17px;
    padding-bottom: 10px;
    letter-spacing: 5px;
}

.sns .sns-title h2 {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 10PX;
}

.sns .sns-title span {
    color: var(--color-blue);
    font-size: 50px;
    font-weight: 500;
}

.sns .sns-deco {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

.sns .sns-deco.top {
    top: 20px;
    border-top: 2px solid var(--color-white);
}

.sns .sns-deco.bottom {
    bottom: 20px;
    border-bottom: 2px solid var(--color-white);
}

.sns .sns-deco.right {
    right: 20px;
    border-right: 2px solid var(--color-white);
}

.sns .sns-deco.left {
    left: 20px;
    border-left: 2px solid var(--color-white);
}

.sns .sns-arrow {
    width: 160px;
    height: 2px;
    position: absolute;
    bottom: 40px;
    left: 35%;
    transform: translateX(-35%);
    background-color: var(--color-white);
    transition: .3s;
}

.sns .sns-arrow::before {
    content: "";
    width: 16px;
    height: 2px;
    position: absolute;
    right: -3px;
    top: -5px;
    background-color: var(--color-white);
    transform: rotate(45deg);
}

.partner {
    width: 100%;
    background: url("../images/bg_bnr02.jpg") center top no-repeat;
    background-size: cover;
    padding-bottom: 167px;
}

.partner .inner {
    max-width: 1150px;
    padding: 165px 0 0;
}

.partner .partner-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.partner .partner-wrap .partner-banner {
    width: 100%;
    max-width: 272px;
    cursor: pointer;
}

.partner .partner-wrap .partner-banner img {
    width: 100%;
    height: 120px;
    transition: .2s;
}

.partner .partner-wrap .partner-banner:hover img {
    transform: scale(1.05);
}

@media (max-width:1280px) {
    .banner .swiper-slide {
        width: 360px !important;
    }

    .topics .inner {
        grid-template-columns: auto;
        justify-content: center;
    }

    .topics .topics-wrap {
        max-width: 900px;
    }

    .topics-wrap:nth-child(1) {
        order: 1;
    }

    .topics-wrap:nth-child(2) {
        order: 3;
    }

    .topics-wrap:nth-child(3) {
        order: 2;
    }

    .topics-wrap:nth-child(4) {
        order: 4;
    }

    .news .inner {
        padding: 0 40px;
    }

    .news .news-event .news-wrap {
        justify-content: center;
    }

    .news .news-content .news-wrap .news-item {
        max-width: inherit;
        width: 100%;
    }

    .partner .partner-wrap {
        justify-content: center;
    }
}

@media (max-width:980px) {
    header .menu {
        display: none;
    }

    header {
        height: 100vw;
    }

    .banner .swiper-slide {
        width: 200px !important;
    }

    .topics .topics-wrap .topics-description {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .topics .topics-wrap .topics-description h5 {
        font-size: 12px;
    }

    .topics .topics-wrap .topics-description h1 {
        font-size: 14px;
    }

    .topics .topics-wrap .topics-description p {
        display: none;
    }

    .news .news-content .news-wrap {
        display: grid;
        grid-template-columns: auto auto;
    }

    .news .news-event {
        flex-direction: column-reverse;
    }

    .news .news-event .news-content {
        width: 100%;
    }

    .news .news-content div>h3 {
        font-size: 22px;
    }

    .news .news-content div>h3 span {
        font-size: 15px;
    }

    .news .news-content .more-btn {
        display: none;
    }

    .news .news-content .news-wrap .news-item p {
        font-size: 11px;
    }

    .news .news-content .news-wrap .news-item h5 {
        font-size: 13px;
    }

    .news .news-event .news-notice .news-notice-date p {
        font-size: 11px;
    }

    .news .news-event .news-notice .news-notice-date span {
        font-size: 11px;
    }

    .news .news-event .news-notice .news-notice-title p {
        font-size: 13px;
    }

    .promotion .promotion-movie .promotion-title h3 {
        font-size: 22px;
    }

    .promotion .promotion-movie .promotion-title p {
        font-size: 13px;
    }

    .sns .sns-title p {
        font-size: 10px;
    }

    .sns .sns-title h2 {
        font-size: 16px;
    }

    .sns .sns-title span {
        font-size: 26px;
    }

    .sns .sns-arrow {
        width: 80px;
        height: 1px;
        bottom: 12px;
        left: 165px;
    }

    .sns .sns-arrow::before {
        width: 8px;
        height: 1px;
        right: -1px;
        top: -3px;
    }

    .sns:hover .sns-arrow {
        left: calc(20% + 20px);
    }
}

@media (max-width:700px) {
    .btn_m {
        display: block;
    }

    .topics .topics-wrap {
        max-width: 400px;
        display: grid;
        grid-template-columns: auto;
    }

    .topics .topics-wrap .topics-img {
        width: 100%;
    }

    .topics .topics-wrap .topics-description {
        width: 100%;
        min-height: 400px;
        padding: 0 20px;
    }

    .topics .topics-wrap .topics-description p {
        display: block;
    }

    .topics .topics-wrap .topics-description::after {
        content: none;
    }

    .news .news-content .news-wrap {
        grid-template-columns: auto;
    }

    .news .news-event .news-wrap {
        justify-content: normal;
    }

    .news .news-event .news-content:last-child {
        padding-bottom: 30px;
    }

    .news .news-event .news-content {
        padding-bottom: 30px;
    }

    .sns {
        margin: 10px 0;
        height: 150px;
    }

    .sns img {
        height: 100%;
        object-fit: cover;
    }

    .sns .sns-deco {
        display: none;
    }

    .sns .sns-arrow {
        display: none;
    }

    .partner {
        padding-bottom: 0;
    }

    .partner .inner {
        padding: 50px 20px;
    }

    .partner .partner-wrap {
        display: grid;
        grid-template-columns: auto auto;
    }

    .partner .partner-wrap .partner-banner img {
        height: 17vw;
    }
}

@media (max-width:500px) {

    .news .news-content div>h3 {
        font-size: 14px;
    }

    .news .news-content .news-wrap .news-item h5 {
        font-size: 11px;
    }

    .news .news-event .news-notice .news-notice-date span {
        padding: 5px;
    }

    .news .news-event .news-notice .news-notice-title p {
        font-size: 12px;
    }

    .sns .sns-title {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}