<!DOCTYPE html>
<html lang="ja-JP">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入試情報｜神戸女子大学</title>

    <link rel="icon" href="../../images/favicon.ico">

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <!-- gsap -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/exam.css">

    <script defer src="../../js/common.js"></script>
    <script defer src="../../js/exam.js"></script>

</head>

<body>
    <nav>
        <a href="/">
            <img src="../../images/logo.png" alt="神戸女子大学">
        </a>

        <div class="menu-subject-open">
            <img src="../../images/subject-menu.svg" alt="訪問者別メニュー">
            <p>訪問者別</p>
        </div>

        <div class="menu-subject-close">
            <img src="../../images/menu-close.svg" alt="close">
        </div>

        <div class="menu-open">
            <img src="../../images/btn_menu.png" alt="Menu">
        </div>
    </nav>

    <header>
        <div class="header-bg">
            <img src="../../images/exam_kv.jpg" alt="Bg" class="active">
        </div>

        <div class="inner">
            <div class="header-title">
                <h1>Examination</h1>
                <p>“入試情報”</p>
            </div>

            <div class="exam-menu">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <svg class="icon" viewBox="0 0 26 26">
                                <path class="arrowcircle"
                                    d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                                <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                                <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                                </polyline>
                            </svg>
                            入試情報
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <svg class="icon" viewBox="0 0 26 26">
                                <path class="arrowcircle"
                                    d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                                <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                                <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                                </polyline>
                            </svg>
                            OPEN CAMPUS
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <svg class="icon" viewBox="0 0 26 26">
                                <path class="arrowcircle"
                                    d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                                <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                                <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                                </polyline>
                            </svg>
                            進学相談会
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <svg class="icon" viewBox="0 0 26 26">
                                <path class="arrowcircle"
                                    d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                                <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                                <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                                </polyline>
                            </svg>
                            入学金免除制度
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <section class="info">
            <div class="inner">
                <div class="news-event">
                    <div class="news-content">
                        <div>
                            <h3>
                                <em class="gradient">News /</em>
                                <span>入試情報に関するニュース</span>
                            </h3>
                        </div>

                        <div class="news-notice-list">
                            <div class="news-notice">
                                <div class="news-notice-date">
                                    <p>2024.04.30</p>
                                    <span class="gradient">入試広報</span>
                                </div>
                                <div class="news-notice-title">
                                    <p>2025年度総合型選抜（AO入試）情報を公開しました。</p>
                                </div>
                            </div>

                            <div class="news-notice">
                                <div class="news-notice-date">
                                    <p>2024.04.26</p>
                                    <span class="gradient">入試広報</span>
                                </div>
                                <div class="news-notice-title">
                                    <p>2025年度から「入学金免除制度」が導入されます。（ファミリー型・社会人型）</p>
                                </div>
                            </div>
                            <div class="news-notice">
                                <div class="news-notice-date">
                                    <p>2024.04.19</p>
                                    <span class="gradient">入試広報</span>
                                </div>
                                <div class="news-notice-title">
                                    <p>進学相談会（4月〜6月）の日程を更新しました。</p>
                                </div>
                            </div>
                            <div class="news-notice">
                                <div class="news-notice-date">
                                    <p>2024.03.29</p>
                                    <span class="gradient">入試広報</span>
                                </div>
                                <div class="news-notice-title">
                                    <p>シンジョムービーに『「一緒に探そう、これからの先生を。」教育学部コンセプトムービー』を追加しました。</p>
                                </div>
                            </div>
                            <div class="news-notice">
                                <div class="news-notice-date">
                                    <p>2024.03.15</p>
                                    <span class="gradient">入試広報</span>
                                </div>
                                <div class="news-notice-title">
                                    <p>シンジョムービーに「神戸女子大学 オープンキャンパス2024 紹介」『「ダンスサークル コンテンポラリーダンスの全国大会へ」神戸女子大学』を追加しました。</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="news-content">
                        <div>
                            <h3>
                                <em class="gradient">Event / </em>
                                <span>入試情報に関するイベント</span>
                            </h3>
                        </div>

                        <div class="news-wrap">
                            <div class="news-item">
                                <p>[在学生]</p>
                                <h5>オープンキャンパス（6月）</h5>
                                <p>2024.06.16 [Sun.]
                                </p>
                                <span>大学・短大 同時開催</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="special">
            <div class="inner">
                <div class="special-title">
                    <h2>
                        <em class="gradient">Special Feature / </em>
                        <span>特別企画</span>
                    </h2>
                    <div class="swiper-button-next">
                        <svg class="icon" viewBox="0 0 26 26">
                            <path class="arrowcircle"
                                d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                            <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                            <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                            </polyline>
                        </svg>
                    </div>

                    <div class="swiper-button-prev">
                        <svg class="icon" viewBox="0 0 26 26">
                            <path class="arrowcircle"
                                d="M13,25c6.617,0,12-5.383,12-12S19.617,1,13,1S1,6.383,1,13S6.383,25,13,25z"></path>
                            <line class="arrowline" x1="19" y1="13" x2="8" y2="13"></line>
                            <polyline class="arrowpolygon" points="11.464,16.536 7.929,13 11.464,9.464 "></polyline>
                        </svg>
                    </div>
                </div>

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../images/bnr_zenin.jpg" alt="BrandBG">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/bnr_brand.jpg" alt="BrandBG">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/bnr_historical.jpg" alt="BrandBG">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/bnr_shiokaze.jpg" alt="BrandBG">
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="admission">
            <div class="admission-bg">
                <img src="../../images/admission.jpg" alt="admissionBg">
            </div>

            <div class="admission-info">
                <div class="admission-info-title">
                    <h2>
                        <em class="gradient">Admission infomation / </em>
                        <span>入試情報</span>
                    </h2>
                </div>

                <div class="admission-info-list">
                    <ul>
                        <li class="slide-toggle">
                            <a href="javascript:void(0)">入試情報Topics
                                <span class="menu-icon"></span>
                            </a>
                            <ul class="slide-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        入学金免除制度（ファミリー型・社会人型）
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="slide-toggle">
                            <a href="javascript:void(0)">入試ガイド
                                <span class="menu-icon"></span>
                            </a>
                            <ul class="slide-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        総合型選抜（AO入試）ガイド2025 [大学]（PDF）
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        総合型選抜・社会人総合型選抜（AO入試）ガイド2025 [短大]（PDF）
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="slide-toggle">
                            <a href="javascript:void(0)">総合型選抜（AO入試）
                                <span class="menu-icon"></span>
                            </a>
                            <ul class="slide-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        総合型選抜（AO入試）について
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        総合型選抜（AO入試）[大学]
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        総合型選抜・社会人総合型選抜（AO入試）[短大]
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="slide-toggle">
                            <a href="javascript:void(0)">大学院・編入学入試・社会人入試
                                <span class="menu-icon"></span>
                            </a>
                            <ul class="slide-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        大学院入試
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        編入学入試
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        社会人入試
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        研究生・科目等履修生・聴講生
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        資料請求
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="slide-toggle">
                            <a href="javascript:void(0)">入試結果
                                <span class="menu-icon"></span>
                            </a>
                            <ul class="slide-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        2022年度（PDF）
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="../../images/arrow_circle_right.png" alt="arrow">
                                        2023年度（PDF）
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="event">
            <div class="event-wrap">
                <div class="event-title">
                    <h2 class="gradient">Event</h2>
                    <p>イベント</p>
                </div>
                <div class="event-banner-list">
                    <div class="event-banner">
                        <div class="event-banner-img">
                            <img src="../../images/bnr_opencampus.jpg" alt="OPEN CAMPUS">
                        </div>

                        <a href="javascript:void(0)">
                            <svg class="icon" viewBox="0 0 26 26">
                                <path class="arrowcircle"
                                    d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                                <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                                <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                                </polyline>
                            </svg>
                            <span>OPEN CAMPUS</span>
                        </a>
                    </div>

                    <div class="event-banner">
                        <div class="event-banner-img">
                            <img src="../../images/bnr_shinrosoudan.jpg" alt="進学相談会">
                        </div>

                        <a href="javascript:void(0)">
                            <svg class="icon" viewBox="0 0 26 26">
                                <path class="arrowcircle"
                                    d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                                <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                                <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                                </polyline>
                            </svg>
                            <span>進学相談会</span>
                        </a>
                    </div>

                    <div class="event-banner">
                        <div class="event-banner-img">
                            <img src="../../images/bnr_brand.jpg" alt="受験生応援ページ">
                        </div>

                        <a href="javascript:void(0)">
                            <svg class="icon" viewBox="0 0 26 26">
                                <path class="arrowcircle"
                                    d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                                <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                                <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                                </polyline>
                            </svg>
                            <span>受験生応援ページ</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="event-wrap">
                <div class="event-title">
                    <h2 class="gradient">Campus Life</h2>
                    <p>キャンパスライフ</p>
                </div>

                <div class="event-banner-list">
                    <div class="event-banner">
                        <div class="event-banner-img">
                            <img src="../../images/bnr_movie.jpg" alt="SHINJO MOVIE">
                        </div>

                        <a href="javascript:void(0)">
                            <svg class="icon" viewBox="0 0 26 26">
                                <path class="arrowcircle"
                                    d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                                <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                                <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                                </polyline>
                            </svg>
                            <span>SHINJO MOVIE</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog">
            <div class="inner">
                <div class="blog-title">
                    <h2>
                        <em class="gradient">Shinjo Blog /</em>
                        <span>シンジョマグ</span>
                    </h2>

                    <a href="javascript:void(0)">
                        <svg class="icon" viewBox="0 0 26 26">
                            <path class="arrowcircle"
                                d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                            <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                            <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                            </polyline>
                        </svg>
                        <span class="gradient">View More</span>
                    </a>
                </div>

                <div class="blog-wrap">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="../../images/DSC4095.jpg" alt="banner">
                        </div>

                        <div class="blog-description">
                            <div>
                                <p>2024/03/07</p>
                                <h6 class="gradient">特集</h6>
                            </div>
                            <p>須磨離宮公園に新名所!? 学生による「潮見台休憩所」のリノベーションプロジェクト</p>
                        </div>
                    </div>

                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="../../images/IMG_5944.jpg" alt="banner">
                        </div>

                        <div class="blog-description">
                            <div>
                                <p>2024/02/22</p>
                                <h6 class="gradient">キャンパス</h6>
                            </div>
                            <p>「ノートテイカー」として活動する学生を取材してみた。</p>
                        </div>
                    </div>

                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="../../images/1Z63907-e1707290090773.jpg" alt="banner">
                        </div>

                        <div class="blog-description">
                            <div>
                                <p>2024/02/14</p>
                                <h6 class="gradient">キャンパス</h6>
                            </div>
                            <p>高校球児の身体作りをサポートする取り組みを徹底取材！</p>
                        </div>
                    </div>

                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="../../images/1Z62715.jpg" alt="banner">
                        </div>

                        <div class="blog-description">
                            <div>
                                <p>2024/02/07</p>
                                <h6 class="gradient">特集</h6>
                            </div>
                            <p>飲食模擬店とお客さんが帰ってきた！コスモス祭4年ぶりの有観客開催に密着!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sns">
            <div class="inner">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sns-tw"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sns-ig"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sns-line"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sns-yt"></span>
                        </a>
                    </li>
                </ul>

                <a href="javascript:void(0)" class="sns-link">
                    <span>
                        <svg class="icon" viewBox="0 0 26 26">
                            <path class="arrowcircle"
                                d="M13,1C6.383,1,1,6.383,1,13s5.383,12,12,12s12-5.383,12-12S19.617,1,13,1z"></path>
                            <line class="arrowline" x1="7" y1="13" x2="18" y2="13"></line>
                            <polyline class="arrowpolygon" points="14.536,9.464 18.071,13 14.536,16.536 ">
                            </polyline>
                        </svg>
                        <b>学科別公式SNSリストはこちら</b>
                    </span>
                </a>
            </div>
        </section>
    </main>

    <footer>
        <div id="to-top"></div>
        <div class="inner">
            <div class="related">
                <h3>Related Organization / <span>学園案内</span></h3>

                <div class="related-wrap">
                    <div class="related-banner">
                        <a href="javascript:void(0)">
                            <img src="../../images/ro_bnr01.jpg" alt="学校法人行吉学園">
                        </a>
                    </div>

                    <div class="related-banner">
                        <a href="javascript:void(0)">
                            <img src="../../images/ro_bnr02.jpg" alt="神戸女子短期大学">
                        </a>
                    </div>

                    <div class="related-banner">
                        <a href="javascript:void(0)">
                            <img src="../../images/ro_bnr03.jpg" alt="神戸女子大学付属高倉台幼稚園">
                        </a>
                    </div>

                    <div class="related-banner">
                        <a href="javascript:void(0)">
                            <img src="../../images/ro_bnr04.jpg" alt="社会福祉法人神女きずな会 神女中山手保育園">
                        </a>
                    </div>
                </div>
            </div>

            <div class="f-content">
                <div class="campus">
                    <h3>Campus / <span>キャンパス</span></h3>

                    <div class="campus-title">
                        <h6>須磨キャンパス</h6>
                    </div>
                    <div class="campus-description">
                        <p>〒654-8585 神戸市須磨区東須磨青山2-1</p>
                        <p>TEL：078-731-4416</p>
                    </div>

                    <div class="campus-title">
                        <h6>ポートアイランドキャンパス</h6>
                    </div>
                    <div class="campus-description">
                        <p>〒650-0046 神戸市中央区港島中町4-7-2</p>
                        <p>TEL：078-303-4811</p>
                    </div>

                    <div class="campus-title">
                        <h6>三宮キャンパス</h6>
                    </div>
                    <div class="campus-description">
                        <p>〒650-0004 神戸市中央区中山手通2-23-1</p>
                        <p>TEL：078-231-1001</p>
                    </div>
                </div>

                <div class="info">
                    <h3>Information / <span>インフォメーション</span></h3>
                    <div class="f-menu">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">情報公表</a>
                            </li>
                            <li>
                                <a href="/Visitor/Access/">交通アクセス</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">お問い合わせ
                                    <span>
                                        <img src="../../images/icon_blank.png" alt="blank">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">資料請求
                                    <span>
                                        <img src="../../images/icon_blank.png" alt="blank">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/Visitor/Sitemap/">サイトマップ</a>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <a href="javascript:void(0)">サイトポリシー
                                    <span>
                                        <img src="../../images/icon_blank.png" alt="blank">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">個人情報の取り扱い
                                    <span>
                                        <img src="../../images/icon_blank.png" alt="blank">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">個人情報保護への取り組み
                                    <span>
                                        <img src="../../images/icon_blank.png" alt="blank">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">教職員募集
                                    <span>
                                        <img src="../../images/icon_blank.png" alt="blank">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Outline
                                    <span>
                                        <img src="../../images/icon_blank.png" alt="blank">
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="search">
                    <form>
                        <input type="text">
                        <input type="submit" value="検索">
                    </form>
                    <button class="btn_form">資料請求</button>
                </div>
            </div>

            <div class="f-logo">
                <a href="javascript:void(0)">
                    <img src="../../images/logo.png" alt="神戸女子大学">
                </a>
                <p>© YUKIYOSHI INSTITUTE.</p>
            </div>
        </div>
    </footer>

    <div class="side-menu">
        <div class="side-menu-container">

            <div class="side-menu-close">
                <button>Close</button>
            </div>

            <div class="inner">
                <div class="search">
                    <form>
                        <input type="text">
                        <input type="submit" value="検索">
                    </form>
                </div>

                <div class="sub-menu">
                    <ul>
                        <li>
                            <a href="/Visitor/Examinee/">受験生の方</a>
                        </li>
                        <li>
                            <a href="/Visitor/Student/">在学生の方</a>
                        </li>
                        <li>
                            <a href="/Visitor/Graduated/">卒業生の方</a>
                        </li>
                        <li>
                            <a href="/Visitor/Parent/">保護者の方</a>
                        </li>
                        <li>
                            <a href="/Visitor/Public/">一般・企業の方</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                ご支援を<br>
                                お考えのみなさまへ
                                <span>
                                    <img src="../../images/icon_blank.png" alt="blank">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="menu">
                    <ul>
                        <li>
                            <a href="/">
                                トップページ<br>
                                <em>Toppage</em>
                            </a>
                        </li>
                        <li>
                            <a href="/View/Guide/">
                                大学案内<br>
                                <em>Outline</em>
                            </a>
                        </li>
                        <li>
                            <a href="/View/Course/">
                                学部・大学院<br>
                                <em>Course</em>
                            </a>
                        </li>
                        <li>
                            <a href="/View/Exam/">
                                入試情報<br>
                                <em>Examination</em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">学納金</a>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <a href="/View/Career/">
                                キャリア・教職<br>
                                <em>Career</em>
                            </a>
                        </li>
                        <li>
                            <a href="/View/International/">
                                国際交流<br>
                                <em>International Exchange</em>
                            </a>
                        </li>
                        <li>
                            <a href="/View/CampusLife/">
                                学生生活<br>
                                <em>Campus Life</em>
                            </a>
                        </li>
                        <li>
                            <a href="/View/Guide/Outline/">
                                地域連携<br>
                                <em>Community Cooperation</em>
                            </a>
                        </li>
                        <li>
                            </a><a href="/View/Community/">
                                図書館<br>
                                <em>Library</em>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="f-menu">
                    <ul>
                        <li><a href="javascript:void(0)">Important News</a></li>
                        <li><a href="javascript:void(0)">News</a></li>
                        <li><a href="javascript:void(0)">Events</a></li>
                        <li><a href="javascript:void(0)">情報公表</a></li>
                        <li>
                            <a href="javascript:void(0)">
                                教員・研究情報
                                <span>
                                    <img src="../../images/icon_blank.png" alt="blank">
                                </span>
                            </a>
                        </li>
                        <li><a href="javascript:void(0)">交通アクセス</a></li>
                        <li>
                            <a href="javascript:void(0)">
                                お問い合わせ
                                <span>
                                    <img src="../../images/icon_blank.png" alt="blank">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                資料請求
                                <span>
                                    <img src="../../images/icon_blank.png" alt="blank">
                                </span>
                            </a>
                        </li>
                    </ul>

                    <ul>
                        <li><a href="javascript:void(0)">サイトマップ</a></li>
                        <li>
                            <a href="javascript:void(0)">
                                サイトポリシー
                                <span>
                                    <img src="../../images/icon_blank.png" alt="blank">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                個人情報の取り扱い
                                <span>
                                    <img src="../../images/icon_blank.png" alt="blank">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                個人情報保護への取り組み
                                <span>
                                    <img src="../../images/icon_blank.png" alt="blank">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                教職員募集
                                <span>
                                    <img src="../../images/icon_blank.png" alt="blank">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Outline
                                <span>
                                    <img src="../../images/icon_blank.png" alt="blank">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>